{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="mb-4 pb-4"></div>
<section class="shop-checkout container">
  <h2 class="page-title">Cart</h2>
  <div class="checkout-steps">
    <a href="shop_cart.html" class="checkout-steps__item active">
      <span class="checkout-steps__item-number">01</span>
      <span class="checkout-steps__item-title">
        <span>Shopping Bag</span>
        <em>Manage Your Items List</em>
      </span>
    </a>
    <a href="{% url 'checkout' %}" class="checkout-steps__item">
      <span class="checkout-steps__item-number">02</span>
      <span class="checkout-steps__item-title">
        <span>Shipping and Checkout</span>
        <em>Checkout Your Items List</em>
      </span>
    </a>
    <a href="shop_order_complete.html" class="checkout-steps__item">
      <span class="checkout-steps__item-number">03</span>
      <span class="checkout-steps__item-title">
        <span>Confirmation</span>
        <em>Review And Submit Your Order</em>
      </span>
    </a>
  </div>
  <div class="shopping-cart ">
    <div class="cart-table__wrapper cart_body">
      <table class="cart-table">
        <thead>
          <tr id="cart_table_heading">
            <th>Product</th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="" id="main_cart_table">
          {% if request.user.is_authenticated%}
            {% for cart_item in cart_all %}
            <tr class="product_data">
              <td>
                <div class="shopping-cart__product-item">
                  <img loading="lazy" src="{{ cart_item.product.product.image.url }}" width="120" height="120" alt="" />
                </div>
              </td>
              <td>
                <div class="shopping-cart__product-item__detail">
                  <h4>{{ cart_item.product.product.title }}</h4>
                  <ul class="shopping-cart__product-item__options">
                    <li>Color: {{ cart_item.product.color.title }}</li>
                    <li>Size: {{ cart_item.product.size.title }}</li>
                  </ul>
                </div>
              </td>
              <td>
                <span class="shopping-cart__product-price">BDT {{ cart_item.product.selling_price }}</span>
              </td>
              <td>
                <input type="hidden" class="product-id" value={{ cart_item.product.id }}>
                {% csrf_token %}
                {% if cart_item.product.quantity > cart_item.product_quantity %}
                <div class="qty-control position-relative">
                  <input type="number" name="quantity" id="product_quantity" value="{{ cart_item.product_quantity }}"
                    min="1" class="qty-control__number text-center">
                  <div class="qty-control__reduce reduce_changeQuantity">-</div>
                  <div class="qty-control__increase increase_changeQuantity">+</div>
                </div><!-- .qty-control -->
                {% elif  cart_item.product.quantity == cart_item.product_quantity %}
        
                <div class="qty-control position-relative">
                    <input type="number" name="quantity" id="stock_out_quantity" value="{{ cart_item.product_quantity }}"
                      min="1" class="qty-control__number text-center" data-id = "{{cart_item.product.id}}">
                    
                    <div class="qty-control__reduce reduce_changeQuantity" data-status="stock">-</div>
                    <div class="qty-control__increase " id="stock_out_btn">+</div>
                </div><!-- .qty-control -->

                {% else %}
                <div class="qty-control position-relative">
                  <input type="number" name="quantity" id="stock_out_quantity" value="{{ cart_item.product_quantity|add:"-1"  }}"
                    min="1" class="qty-control__number text-center" data-id = "{{cart_item.product.id}}">
                  
                  <div class="qty-control__reduce reduce_changeQuantity" data-status="stock">-</div>
                  <div class="qty-control__increase " id="stock_out_btn">+</div>
                </div><!-- .qty-control -->
                {% endif %}
              </td>
              <td>
                <span class="shopping-cart__subtotal">BDT {% widthratio cart_item.product.selling_price 1 cart_item.product_quantity|floatformat:0|cut:'.' %}</span>
              </td>
              <td>
                <a class="remove-cart delete-cart-item">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z" />
                    <path d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z" />
                  </svg>
                </a>
              </td>
              
            </tr>
            <tr id="empty_cart_row" ><td colspan="6" style="display:none;" ></td></tr>
            {% endfor %}
          {% endif %}
          {% if request.user.is_anonymous %}
          {% for product_variant_id,item in cart_list.items %}
              <tr class="product_data">
                <td>
                  <div class="shopping-cart__product-item">
                    <img loading="lazy" src={{item.image}} width="120" height="120" alt="" />
                  </div>
                </td>
                <td>
                  <div class="shopping-cart__product-item__detail">
                    <h4>{{ item.title }}</h4>
                    <ul class="shopping-cart__product-item__options">
                      <li>Color: {{ item.color }}</li>
                      <li>Size: {{ item.size }}</li>
                    </ul>
                  </div>
                </td>
                <td>
                  <span class="shopping-cart__product-price">BDT {{ item.price }}</span>
                </td>
                <td>
                  <input type="hidden" class="product-id" value={{ product_variant_id }}>
                  {% if item.stock_quantity > item.quantity %}
                  <div class="qty-control position-relative">
                    <input type="number" name="quantity" id="product_quantity" value="{{ item.quantity }}"
                      min="1" class="qty-control__number text-center">
                    <div class="qty-control__reduce reduce_changeQuantity_anonymous">-</div>
                    <div class="qty-control__increase increase_changeQuantity_anonymous">+</div>
                  </div><!-- .qty-control -->
                  {% elif item.stock_quantity == item.quantity %}
                    <div class="qty-control position-relative">
                      <input type="number" name="quantity" id="stock_out_quantity" value="{{ item.quantity }}"
                        min="1" class="qty-control__number text-center" data-id = "{{ product_variant_id }}">
                      
                      <div class="qty-control__reduce reduce_changeQuantity_anonymous" data-status="stock">-</div>
                      <div class="qty-control__increase " id="stock_out_btn">+</div>
                    </div><!-- .qty-control -->
                  {% else %}
                  <div class="qty-control position-relative">
                    <input type="number" name="quantity" id="stock_out_quantity" value="{{ item.quantity|add:"-1" }}"
                      min="1" class="qty-control__number text-center" data-id = "{{ product_variant_id }}">
                    
                    <div class="qty-control__reduce reduce_changeQuantity_anonymous" data-status="stock">-</div>
                    <div class="qty-control__increase " id="stock_out_btn">+</div>
                  </div><!-- .qty-control -->
                  {% endif %}
                </td>
                <td>
                  <span class="shopping-cart__subtotal">BDT {% widthratio item.price 1 item.quantity|floatformat:0|cut:'.' %}</span>
                </td>
                <td>
                  <a class="remove-cart delete-cart-item">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z" />
                      <path d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z" />
                    </svg>
                  </a>
                </td>
                
              </tr>
              <tr id="empty_cart_row" ><td colspan="6" style="display:none;" ></td></tr>
              {% endfor %}
          {% endif %}
         
        </tbody>
      </table>
      <div class="cart-table-footer" id="action_buttons">
        {% comment %} <form action="#" class="position-relative bg-body">
          <input class="form-control" type="text" name="coupon_code" placeholder="Coupon Code">
          <input class="btn-link fw-medium position-absolute top-0 end-0 h-100 px-4" type="submit" value="APPLY COUPON">
        </form> {% endcomment %}
        {% comment %} {% if request.user.is_authenticated%}
            <button class="btn btn-light">UPDATE CART</button>
        {% endif %} 

        {% if request.user.is_anonymous %}
            <button class="btn btn-light" id="update_cart_button">UPDATE CART</button>
        {% endif %} {% endcomment %}

        <a href="{% url 'delete-cart-all-item' %}"><button class="btn btn-light">CLEAR CART</button></a>
        <a href="{% url 'checkout' %}"> <button class="btn btn-primary btn-checkout">PROCEED TO CHECKOUT</button> </a>
      </div>
    </div>
    {% comment %} <div class="shopping-cart__totals-wrapper">
      <div class="sticky-content">
        <div class="shopping-cart__totals">
          <h3>Cart Totals</h3>
          <table class="cart-totals">
            <tbody>
              <tr>
                <th>Subtotal</th>
                <td>$1300</td>
              </tr>
              <tr>
                <th>Shipping</th>
                <td>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="free_shipping">
                    <label class="form-check-label" for="free_shipping">Free shipping</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="flat_rate">
                    <label class="form-check-label" for="flat_rate">Flat rate: $49</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="local_pickup">
                    <label class="form-check-label" for="local_pickup">Local pickup: $8</label>
                  </div>
                  <div>Shipping to AL.</div>
                  <div>
                    <a href="#" class="menu-link menu-link_us-s">CHANGE ADDRESS</a>
                  </div>
                </td>
              </tr>
              <tr>
                <th>VAT</th>
                <td>$19</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>$1319</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mobile_fixed-btn_wrapper">
          <div class="button-wrapper container">
            <button class="btn btn-primary btn-checkout">PROCEED TO CHECKOUT</button>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</section>
{% endblock content %}