{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="mb-4 pb-4"></div>
<section class="shop-checkout container">
  <h2 class="page-title">Cart</h2>
  {% comment %} <div class="checkout-steps">
    <a href="shop_cart.html" class="checkout-steps__item active">
      <span class="checkout-steps__item-number">01</span>
      <span class="checkout-steps__item-title">
        <span>Shopping Bag</span>
        <em>Manage Your Items List</em>
      </span>
    </a>
    <a href="{% url 'checkout' %}" class="checkout-steps__item">
      <span class="checkout-steps__item-number">02</span>
      <span class="checkout-steps__item-title">
        <span>Shipping and Checkout</span>
        <em>Checkout Your Items List</em>
      </span>
    </a>
    <a href="shop_order_complete.html" class="checkout-steps__item">
      <span class="checkout-steps__item-number">03</span>
      <span class="checkout-steps__item-title">
        <span>Confirmation</span>
        <em>Review And Submit Your Order</em>
      </span>
    </a>
  </div> {% endcomment %}
  <div class="shopping-cart ">
    <div class="cart-table__wrapper cart_body">
      <table class="cart-table">
        <thead>
          <tr>
            <th>Product</th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <td colspan="6"> <h1>Your Cart Is Empty</h1> </td>
          </tr>
        </tbody>
      </table>
      <div class="cart-table-footer">
        {% comment %} <form action="#" class="position-relative bg-body">
          <input class="form-control" type="text" name="coupon_code" placeholder="Coupon Code">
          <input class="btn-link fw-medium position-absolute top-0 end-0 h-100 px-4" type="submit" value="APPLY COUPON">
        </form> {% endcomment %}
        
        
        <a href="{% url 'index' %}"> <button class="btn btn-primary btn-checkout">BACK TO HOME</button> </a>
      </div>
    </div>
    {% comment %} <div class="shopping-cart__totals-wrapper">
      <div class="sticky-content">
        <div class="shopping-cart__totals">
          <h3>Cart Totals</h3>
          <table class="cart-totals">
            <tbody>
              <tr>
                <th>Subtotal</th>
                <td>$1300</td>
              </tr>
              <tr>
                <th>Shipping</th>
                <td>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="free_shipping">
                    <label class="form-check-label" for="free_shipping">Free shipping</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="flat_rate">
                    <label class="form-check-label" for="flat_rate">Flat rate: $49</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="local_pickup">
                    <label class="form-check-label" for="local_pickup">Local pickup: $8</label>
                  </div>
                  <div>Shipping to AL.</div>
                  <div>
                    <a href="#" class="menu-link menu-link_us-s">CHANGE ADDRESS</a>
                  </div>
                </td>
              </tr>
              <tr>
                <th>VAT</th>
                <td>$19</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>$1319</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mobile_fixed-btn_wrapper">
          <div class="button-wrapper container">
            <button class="btn btn-primary btn-checkout">PROCEED TO CHECKOUT</button>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</section>
{% endblock content %}